body {
	margin: 0;
	padding: 0;
}

#popupError {
	width: 40% !important;

	background-image: -webkit-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -moz-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -o-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -ms-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: linear-gradient(#f9f9f9,#b1aca7) !important;
	font-weight: 700;
	font-size: 10px;
	margin: auto !important;
	padding: 5% !important;
}

.content_area {
	height: 0;
	padding: 0 !important;
}

#page1,#page2 {
	min-height: 0 !important;
	background-color: #000 !important;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
}

.logo {
	display: block;
	height: 30%;
	min-height: 120px;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}

.logo_title {
	min-height: 30px;
	display: block;
	height: 8%;
	margin-right: auto;
	margin-left: auto;
}

.filler {
	width: 100%;
	height: 15%;
	min-height: 40px;
}

.button_field {
	width: 85% !important;
	max-width: 400px !important;
	border-radius: 0 !important;
	margin: auto !important;
	padding: 0 !important;
}

.input_field {
	width: 80% !important;
	max-width: 400px !important;
	border-radius: 0 !important;
	margin: auto !important;
	padding: 0 !important;
	height: 40px !important;
	border: none !important;
}

#map-canvas {
	width: 100%;
	height: 100%;
	z-index: 0;
}

.map_back {
	padding: 0 !important;
}

#bestRoute {
	background: #ebf2fc;
	font-weight: 700;
}

#popupOptions-popup {
	right: 0 !important;
	left: auto !important;
}

#popupOptions {
	position: relative;
	width: 100%;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.4);
	margin: -1px 0;
}

#popupOptions .ui-btn {
	margin: 2em 15px;
}

.ui-bar-p {
	font-family: Helvetica,Arial,sans-serif;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 -1px 0 #000;
	border: 1px solid #C1D4F1 !important;
	border-bottom: 1px solid #426EAE !important;

	background-image: -webkit-linear-gradient(#C1D4F1,#C1D4F1);
	background-image: -moz-linear-gradient(#C1D4F1,#C1D4F1);
	background-image: -o-linear-gradient(#C1D4F1,#C1D4F1);
	background-image: -ms-linear-gradient(#C1D4F1,#C1D4F1);
	background-image: linear-gradient(#C1D4F1,#C1D4F1);
}

.directions_box {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #FFF;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
}

.directions {
	overflow: auto !important;
	height: 0;
}

.dir_picture {
	width: 5%;
	display: inline-block;
}

.dir_instructions {
	width: 80%;
	display: inline-block;
}

.dir_distance {
	width: 10% !important;
	text-align: right;
	display: inline-block;
}

.blocks {
	color: #15449B;
	font-size: 12px;
}

.step_block {
	width: 100%;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.pulldown {
	z-index: 1;
	font-size: 10px;
	color: #FFF;
	font-weight: 200;
	text-align: center;
	height: 15px;
	width: 100%;
	background-image: 0 color-stop(0.51,rgb(120,219,75)), color-stop(0.75,rgb(131,224,88)));

	-webkit-box-shadow: 5px 2px 10px rgba(136,136,136,.5);
	box-shadow: 5px 2px 10px rgba(136,136,136,.5);
	display: none;
}

.title_block {
	border-bottom: 1px solid #15449B !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	width: 100%;
	font-size: 12px;
	font-weight: 700;
}

.info {
	width: 100%;
	z-index: 5;
	position: absolute;
	bottom: 0;
	background: #FFF;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.route {
	width: 45%;
	padding-left: 5%;
	float: left;
	top: 25px;
}

.side_text {
	width: 45%;
	padding-right: 5%;
	float: right;
	text-align: right;
}

.leaf {
	color: #15449B;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.active {
	background-color: #D8E5F1;
}

.directions_button, .submit {
	width: 100% !important;
	background-image: -webkit-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -moz-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -o-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -ms-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: linear-gradient(#C1D4F1,#C1D4F1) !important;
	color: #15449B !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.directions_button{
	border: 1px solid #5B80BA !important;
}
.submit{
	border: 1px solid #C1D4F1 !important;
	border-bottom: 1px solid #5B80BA !important;

	/*border: 1px solid #5B80BA !important;*/
	
}
.submit .ui-btn-inner{
	font-size: 14px !important;
	border: 0 !important;
}

.directions_button .ui-btn-inner .ui-btn-text {
	font-size: 14px;
}

.ui-btn-active {
	text-shadow: none !important;
}

.loading {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;

	-webkit-background-size: 300px auto;
	-moz-background-size: 300px auto;
	background-size: 300px auto;
	background-position: top;
	width: 100%;
	height: 100%;
	z-index: 999;
	position: absolute;
	background-color: #229EC6;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: .8;
}

.introduction {
	max-width: 500px;
	margin: auto;
}

.ui-input-text {
	width: 100% !important;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.header,.footer {
	background-image: -webkit-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -moz-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -o-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: -ms-linear-gradient(#C1D4F1,#C1D4F1) !important;
	background-image: linear-gradient(#C1D4F1,#C1D4F1) !important;
	width: 100% !important;
	margin: auto;
}

.header {
	border-bottom: 1px solid #426EAE !important;
	border-top: 1px solid #C1D4F1 !important;
}

.footer {
	border-top: 1px solid #426EAE !important;
	border-bottom: 0 !important;
}

.corners {
	border-bottom: solid 1px #C2C2C2;
	border-left: solid 1px #C2C2C2;
	width: 100%;
	position: absolute;
	left: -4px;
	border-right: solid 1px #C2C2C2;
	overflow: visible;
	max-height: .2em;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.start,.end {
	color: #1E509C;
	border-radius: 0 !important;
	font-size: 14px !important;
	width: 100%;
	outline: none;
	border: none;
	background: transparent;
	display: inline-block;
	position: relative;
	bottom: 1.5em;
}

#text,.ui-corner-all {
	border-radius: 0 !important;
}

.routes_header,.step_header {
	border-bottom: 1px solid #1D4CA2;
	border-top: 2px solid #1D4CA2;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-top: 1%;
	width: 95%;
	color: #15449B;
	font-size: 14px;
	font-weight: bold;
}
#StepHeader{
	color: #15449B !important;
	/*font-size: 14px;*/
	font-weight: 500;
	font-family: Helvetica,Arial,sans-serif !important;
	white-space: nowrap;
	text-align: center !important;
}
