body {
	margin: 0;
	padding: 0;
}

#popupError {
	width: 40% !important;
	margin: auto !important;
	padding: 5% !important;

	background-image: -webkit-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -moz-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -o-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: -ms-linear-gradient(#f9f9f9,#b1aca7) !important;
	background-image: linear-gradient(#f9f9f9,#b1aca7) !important;
	font-weight: bold;
	font-size: 10px;
}

.content_area {
	height: 100%;
	background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#b1aca7));

	background-image: -webkit-linear-gradient(white,#b1aca7);
	background-image: -moz-linear-gradient(white,#b1aca7);
	background-image: -o-linear-gradient(white,#b1aca7);
	background-image: -ms-linear-gradient(white,#b1aca7);
	background-image: linear-gradient(white,#b1aca7);
	padding: 0 !important;
}

#page1,#page2 {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}

.logo {
	display: block;
	height: 30%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}

.logo_title {
	display: block;
	height: 8%;
	margin-right: auto;
	margin-left: auto;
}

.filler {
	width: 100%;
	height: 20%;
}

.start {
	width: 100% !important;
	font-size: 10px !important;
	border-radius: 0 !important;
}

.end {
	width: 100% !important;
	font-size: 10px !important;
	border-radius: 0 !important;
}

#text {
	border-radius: 0 !important;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.input_field {
	padding: 0px !important;
	width: 90% !important;
	margin: auto !important;
	border-radius: 0 !important;
}

.ui-field-contain div.ui-input-text {
	margin-left: auto !important;
	margin-right: auto !important;
}

#map-canvas {
	width: 100%;
	height: 100%;
	z-index: 0;
}

.map_back {
	padding: 0px !important;
}

#bestRoute {
	background: #ebf2fc;
	font-weight: bold;
}

#popupOptions-popup {
	right: 0 !important;
	left: auto !important;
}

#popupOptions {
	position: relative;
	width: 100%;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.4);
	margin: -1px 0;
}

#popupOptions .ui-btn {
	margin: 2em 15px;
}

.leaf {
	color: blue;
	padding: 20px;
	border-bottom: 1px solid black;
}

.time {
	/*color: white;*/
}

.crime {
	/*color: white;*/
}

.leaf:hover {
	background-color: green;
}

.side_text {
	text-align: right;
}

.ui-bar-p {
	font-family: Helvetica,Arial,sans-serif;
	color: #fff;
	font-weight: 700;
	text-shadow: 0 -1px 0 #000;
	border: 1px solid #B87BB4 !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d3b2d1),to(#B87BB4)));

	background-image: -webkit-linear-gradient(#d3b2d1,#B87BB4);
	background-image: -moz-linear-gradient(#d3b2d1,#B87BB4);
	background-image: -o-linear-gradient(#d3b2d1,#B87BB4);
	background-image: -ms-linear-gradient(#d3b2d1,#B87BB4);
	background-image: linear-gradient(#d3b2d1,#B87BB4);
}

.directions_box {
	-webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.directions_box {
	background-color: white;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0%;
}

.directions {
	overflow: auto !important;
}

.ui-block-a {
	width: 10% !important;
}

.ui-block-b {
	width: 80% !important;
}

.ui-block-c {
	width: 10% !important;
}

.blocks {
	font-size: 12px;
	margin-top: 12px !important;
	margin-bottom: 12px !important;
}

.all_directions {
	overflow: auto;
}

.pulldown {
	z-index: 1;
	font-size: 10px;
	color: white;
	font-weight: 200;
	text-align: center;
	height: 15px;
	width: 100%;

	background-image: -webkit-linear-gradient(bottom, rgb(92, 214, 17) 19%, rgb(120, 219, 75) 51%, rgb(131, 224, 88) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(92, 214, 17) 19%, rgb(120, 219, 75) 51%, rgb(131, 224, 88) 75%);
	background-image: -o-linear-gradient(bottom, rgb(92, 214, 17) 19%, rgb(120, 219, 75) 51%, rgb(131, 224, 88) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(92, 214, 17) 19%, rgb(120, 219, 75) 51%, rgb(131, 224, 88) 75%);
	background-image: linear-gradient(bottom, rgb(92, 214, 17) 19%, rgb(120, 219, 75) 51%, rgb(131, 224, 88) 75%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(92, 214, 17)), color-stop(0.51, rgb(120, 219, 75)), color-stop(0.75, rgb(131, 224, 88)));

	-webkit-box-shadow: 5px 2px 10px rgba(136, 136, 136, .5);
	box-shadow: 5px 2px 10px rgba(136, 136, 136, .5);
	display: none;
}

.title_block {
	
	font-size: 12px;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	font-weight: bold !important;
}

.info{
	width: 100%;
	z-index: 5;
	position: absolute;
	bottom: 0%;
	background: white;
}